{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="nickel.gay | Effects" />
    <meta property="og:site_name" content="nickel.gay" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="The swiss knife of media utility" />
    <meta property="og:url" content="https://nickel.gay" />
    <meta property="theme-color" content="#9921E8" />
    <meta property="og:image" content="{% static 'favicon.png' %}" />
    <title>nickel.gay</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <script>
        tailwind.config = {
          theme: {
            fontSize: {
                'xs': '.75rem',
                'sm': '.875rem',
                'tiny': '.875rem',
                'base': '1rem',
                'lg': '1.125rem',
                'xl': '1.25rem',
                '2xl': '1.5rem',
                '3xl': '1.875rem',
                '4xl': '2.25rem',
                '5xl': '3rem',
                '6xl': '4rem',
                '7xl': '5rem',
              }
            }
          }
    </script>
    <script>
      video_types = '{{ video_types }}'.split(',');
      audio_types = '{{ audio_types }}'.split(',');
      var effects = []

      function sleep(milliseconds) {
        const date = Date.now();
        let currentDate = null;
        do {
          currentDate = Date.now();
        } while (currentDate - date < milliseconds);
      }

      function applyEffects() {
        files = document.getElementById('file_input').files[0]
        if (files === undefined) {
          document.getElementById('ResultVideo').classList.add('hidden');
          document.getElementById('ResultAudio').classList.add('hidden')
          document.getElementById('NoFile').classList.remove('hidden');
          document.getElementById('InvalidFile').classList.add('hidden');
          return
        }
        type = files.name.split(".").slice(-1)[0]
        if (video_types.includes(type)) {
          document.getElementById('ResultAudio').classList.add('hidden');
          document.getElementById('ResultVideo').classList.remove('hidden');
          document.getElementById('InvalidFile').classList.add('hidden');
          document.getElementById('NoFile').classList.add('hidden');
        } else if (audio_types.includes(type)) {
          document.getElementById('ResultVideo').classList.add('hidden');
          document.getElementById('ResultAudio').classList.remove('hidden');
          document.getElementById('InvalidFile').classList.add('hidden');
          document.getElementById('NoFile').classList.add('hidden');
        } else {
          document.getElementById('InvalidFile').classList.remove('hidden');
          document.getElementById('NoFile').classList.add('hidden');
        }
      }
    </script>
    <script>
      function CheckFile() {
        files = document.getElementById('file_input').files[0];
        if (files !== undefined) {
          document.getElementById('NoFile').classList.add('hidden');
        }
      }
      setInterval(CheckFile, 100)
    </script>
    <style>
        .body-bg {
            background-color: #9921e8;
            background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
        }
    </style>
</head>
<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 md:px-0" style="font-family:'Lato',sans-serif;">
  <nav id="header" class="fixed bg-white rounded-b-lg w-full z-30 top-0 text-white">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
      <div class="pl-4 flex items-center">
        <a class="toggleColour text-black no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="../">
          nickel.gay
        </a>
      </div>
      <div class="block lg:hidden pr-4">
        <button id="nav-toggle" class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
          <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent rounded-lg text-black p-4 lg:p-0 z-20" id="nav-content">
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
          {% for name, href in nav %}
            <li class="mr-3">
              <a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" href="{{ href }}">{{ name }}</a>
            </li>
          {% endfor %}
        </ul>
        </div>
      </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
  </nav>

  <script>
    navContent = document.getElementById("nav-content")
    ul = navContent.childNodes[1]
    path = "{{ request.get_full_path }}"
    for (const property in ul.childNodes) {
      if (ul.childNodes[property].nodeName === "LI") {
        item = ul.childNodes[property].childNodes[1]
        href = new URL(item.href)
        host = "{{ request.get_host }}"
        if (href.pathname === (path) && host === href.host) {
          item.classList = "inline-block py-2 px-4 text-black font-bold no-underline"
        }
      }
    }
  </script>

  <div class="px-2">
      <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
          <section class="flex items-center flex-col">
              <h3 class="font-bold text-2xl">{% trans 'Effects' %}</h3>
              <p class="text-gray-600 pt-2 text-center">{% trans 'Apply effects to audio files' %}</p>
          </section>
  
          <section class="flex items-center flex-col mt-8">
            <input 
              class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
              aria-describedby="file_input_help"
              id="file_input"
              type="file"
              accept="audio/*,video/*"
            >
            <p class="mt-1 text-sm" id="file_input_help">{{ valid_types }}</p>
          </section>

          <section class="flex items-center flex-col mt-8">
            {% for i,v in effects %}
              <div class="flex items-center mb-4">
                <input id="default-radio-1" onclick="if (this.checked === true) {effects.push('{{ i }}');} else {effects.splice(effects.indexOf('{{ i }}'), 1)}"  type="checkbox" value="" name="default-radio" class="rounded-lg w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="default-radio-1" class="ml-2 text-sm font-bold text-black">{{ v }}</label>
              </div>
            {% endfor %}
          </section>

            <p class="mt-1 text-sm hidden" id="InvalidFile">
              {% trans 'This filetype isn\'t yet supported' %}
            </p>

            <p class="mt-1 text-sm hidden" id="NoFile">
              {% trans 'No file was inputted' %}
            </p>
    
            <button onclick="applyEffects()" class="text-white mt-4 bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">
              {% trans 'Apply' %}
            </button>

            <video id="ResultVideo" controls class="rounded-lg mt-4 hidden">
              <source src="" type="video/mp4">
            goofy ahh browser 💀
            </video>

            <audio id="ResultAudio" controls class="rounded-lg mt-4 hidden">
              <source src="" type="audio/mp3">
            goofy ahh browser 💀
            </audio>
          </section>
        </main>
    </div>
    <script>
        /*Toggle dropdown list*/
        /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/
  
        var navMenuDiv = document.getElementById("nav-content");
        var navMenu = document.getElementById("nav-toggle");
  
        document.onclick = check;
        function check(e) {
          var target = (e && e.target) || (event && event.srcElement);
  
          //Nav Menu
          if (!checkParent(target, navMenuDiv)) {
            // click NOT on the menu
            if (checkParent(target, navMenu)) {
              // click on the link
              if (navMenuDiv.classList.contains("hidden")) {
                navMenuDiv.classList.remove("hidden");
              } else {
                navMenuDiv.classList.add("hidden");
              }
            } else {
              // click both outside link and outside menu, hide menu
              navMenuDiv.classList.add("hidden");
            }
          }
        }
        function checkParent(t, elm) {
          while (t.parentNode) {
            if (t == elm) {
              return true;
            }
            t = t.parentNode;
          }
          return false;
        }
      </script>
      <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css"></script>
</body>
</html>